.markdown-viewer {
  background-color: $viewer-bg-color;
  border: 5px solid $viewer-border-color;
  height: $tall-height;
  margin: $center;
  overflow: auto;
  overflow-wrap: break-word;
  width: $large-width;
}
